<% var data = {
  title: "GrandCore | Страница"
}; %>
<%= _.template(require('./../includes/header_log.html').default)(data) %>

<div class="page-user-edit">
  <div class="page-user-edit-container">
    <!-- profile block -->
    <div class="page-user-edit-profile page-user-edit-profile_bottom">
      <!-- photo -->
      <div class="page-user-edit-profile__img"></div>
      <!-- info -->
      <div class="page-user-edit-profile__user-wrap">
        <!-- skills and name -->
        <h2 class="page-user-edit-profile__title">
          Богдан Соколов
        </h2>
        <p class="page-user-edit-profile__skills">
          PHP, JavaScript, Docker, Ruby, Figma, Photoshop
          Docker, Ruby, Figma, Photoshop, Laravel
        </p>
        <!-- status -->
        <div class="page-user-edit-status">
          <a href="#" class="page-user-edit-status__rank page-user-edit-status_bottom">
            <img src="../../img/page-user/icon.png" alt="" class="page-user-edit-status__rank-icon">
            Основатель
          </a>
          <p class="page-user-edit-status__rating page-user-edit-status_bottom">
            Рейтинг: 223
          </p>
        </div>
        <!-- btn -->
        <div class="page-user-edit-btn">
          <button class="page-user-edit-btn__edit">
            Edit Profile
          </button>
          <a href="#" class="page-user-edit-btn__message">
            <img src="..//../img/page-user/telegram.svg" alt="" class="page-user-edit-btn__message_telegram">
            Send a message
          </a>
        </div>
      </div>
    </div>
    <!-- Projects  -->
    <div class="page-user-edit-projects">
      <!-- menu -->
      <ul class="page-user-edit-projects-menu">
        <!-- Projects Founded -->
        <li class="page-user-edit-projects-menu__item">
          <a href="#" class="page-user-edit-projects-menu__link page-user-edit-projects-menu__link_active">
            Projects Founded 2
          </a>
        </li>
        <!-- Projects Supported -->
        <li class="page-user-edit-projects-menu__item">
          <a href="#" class="page-user-edit-projects-menu__link">
            Projects Supported 23
          </a>
        </li>
        <!-- Projects Liked -->
        <li class="page-user-edit-projects-menu__item">
          <a href="#" class="page-user-edit-projects-menu__link">
            Projects Liked 608
          </a>
        </li>
        <li class="page-user-edit-projects-menu__item">
          <a href="#" class="page-user-edit-projects-menu__link" style="color: #000;">
            Edit Profile
          </a>
        </li>
      </ul>
      <div class="page-user-edit-projects-edit">
        <div class="page-user-edit-projects-edit-grid">
          <div class="page-user-edit-projects-edit-grid-c1">
            <div class="input-field">
              <input class="input input--height" type="text" name="email" required>
              <label class="input__label">Имя</label>
              <span class="input__error"></span>
            </div>
            <div class="input-field" style="margin-top: 40px;">
              <input class="input input--height" type="text" name="email" required>
              <label class="input__label">Email</label>
              <span class="input__error"></span>
            </div>
          </div>
          <div class="page-user-edit-projects-edit-grid-c2">
            <div class="input-field">
              <input class="input input--height" type="text" name="email" required>
              <label class="input__label">Telegram</label>
              <span class="input__error"></span>
            </div>
            <div class="page-user-edit-projects-edit-grid-c2-loadimage">
              <p class="page-user-edit-projects-edit-grid-c2-loadimage-text">Загрузить изображение</p>
              <img src="../../img/fi_upload.svg">
            </div>
          </div>
        </div>
        <div class="input-field" style="margin-top: 40px;">
          <input class="input input--height" type="text" name="email" required>
          <label class="input__label">Скиллы</label>
          <span class="input__error"></span>
        </div>
        <div class="page-user-edit-projects-edit-field" style="margin-top: 40px;">
          <textarea class="page-user-edit-projects-edit-field-input" placeholder="Обо мне"></textarea>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
