*,
*::before,
*::after,
body,
html {
  font-family: Inter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  padding-top: 80px;
}

@media only screen and (max-width: 990px) {
  body {
    padding-top: 54px;
  }
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
}

.overlay--hidden {
  display: none;
}

.page-container {
  padding: 0 18rem;
}

.nav {
  height: 80px;
  padding: 10px;
}

.item {
  font-size: 18px;
  color: unset;
  cursor: pointer;
  margin-left: 36px;
}

.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #003D3D;
  background-color: #F2F2F2;
  cursor: pointer;
  padding: 0.93333em;
  border: none;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
}

.btn--small {
  display: block;
  padding: inherit;
  background-color: inherit;
  border-radius: 6px;
  z-index: 2;
}

.btn--big {
  padding: 18px 30px 18px 30px;
  font-size: 18px;
}

.btn--round {
  border-radius: 50%;
}

.btn--green {
  background-color: #00D681;
  color: #003D3D;
}

.btn--green:hover {
  background-color: #3dffb2;
}

.btn--transparent {
  background-color: rgba(242, 242, 242, 0.3);
}

.btn--transparent:hover {
  background-color: rgba(242, 242, 242, 0.2);
}

.btn--width {
  width: 100%;
}

.input {
  padding: 1rem;
  background: #F2F2F2;
  font-weight: 600;
  font-size: 1rem;
  color: #333333;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.input-field {
  position: relative;
}

.input-field .input__label {
  font-size: 1rem;
  position: absolute;
  left: 0;
  top: 15%;
  margin-left: 1.2rem;
  margin-top: 0.7rem;
  transition: 0.2s;
  pointer-events: none;
}

.input__sub {
  display: block;
  margin: 0.9rem 0 2rem;
  text-align: right;
  color: #333333;
  font-weight: 500;
}

.input:focus,
.input:valid {
  outline: none;
}

.input:focus ~ label,
.input:valid ~ label {
  top: 0;
  font-size: 0.7rem;
}

.input--height {
  padding: 1.5rem 1.2rem 1rem;
}

.img {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.line-prev {
  display: flex;
  align-items: center;
}

.line-prev:before {
  content: "";
  width: 2rem;
  height: 2px;
  background: #BDBDBD;
  margin-right: 0.5rem;
}

.link--after-row:after {
  display: inline-block;
  margin-left: 0.5rem;
  content: ">";
  color: inherit;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 1679px) {
  .page-container {
    padding: 0 15rem;
  }
}

@media only screen and (max-width: 1380px) {
  .page-container {
    padding: 0 8rem;
  }
}

@media only screen and (max-width: 990px) {
  .page-container {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 652px) {
  .btn--big {
    margin: 0.2em;
    font-size: 12px;
  }

  .page-container {
    padding: 0 2rem;
  }
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  top: 0;
  z-index: 5;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
}

.header-left {
  display: inherit;
  align-items: inherit;
}

.header-left-burger {
  display: none;
}

.header-left__logo {
  display: inherit;
  align-items: inherit;
}

.header-left__logo::before {
  display: block;
  content: "";
  background: url(/images/logo.svg?0f9091a87a8fb3cddefc8967b5878c47);
  width: 45px;
  height: 38px;
}

.header-left__logo::after {
  display: block;
  content: "";
  background: url(/images/logo-label.svg?4344c1b344a092ff41489920a87c9389);
  width: 60px;
  height: 35px;
  margin-left: 13px;
}

.header-left__nav {
  display: inherit;
  align-items: inherit;
  margin-left: 142px;
}

.header-left__nav-item {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

.header-mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  height: 100vh;
  width: 85vw;
  background-color: white;
  transition: 0.2s;
}

.header-mobile-nav__nav {
  display: flex;
  flex-direction: column;
  padding: 16px 36px;
}

.header-mobile-nav__nav-item {
  font-size: 16px;
  margin: unset;
  margin-bottom: 24px;
  color: #333333;
}

.header-mobile-nav__signup-btn {
  width: 103px;
  height: 48px;
}

.header-mobile-nav__close {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #F2F2F2;
}

.header-mobile-nav__close-btn {
  padding: 0 20px 0 20px;
  width: 16px;
  height: 16px;
  background-color: white;
  border: none;
}

.header-mobile-nav__close-btn::after {
  display: block;
  content: "";
  background: url(/images/close.svg?8ab6d578277cd8965187e806711e7d32);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.header-mobile-nav--hidden {
  left: -100vw;
}

.header-right {
  display: inherit;
  align-items: inherit;
}

.header-right__nav {
  display: inherit;
  z-index: 10;
  align-items: inherit;
}

.header-right__nav-item {
  font-size: 16px;
  font-weight: normal;
  color: #4F4F4F;
  margin-left: 16px;
}

.header-right__nav--hide {
  display: none;
}

.header-right-btns {
  display: inherit;
  align-items: inherit;
  margin-left: 18px;
}

.header-right-btns__more-btn {
  display: none;
  padding: 1rem 0.6rem;
}

.header-right-btns__more-btn::after {
  display: block;
  content: "";
  background: url(/images/more.svg?df2151ec7a58246628f35ed01891e287);
  background-repeat: no-repeat;
  width: 18px;
  height: 4px;
  z-index: 3;
}

.header-right-btns__search {
  display: none;
  justify-content: space-between;
  width: 344px;
  height: 48px;
  background-color: #F2F2F2;
  z-index: 4;
}

.header-right-btns__search-field {
  font-weight: normal;
  font-size: 16px;
  border: none;
  background-color: #F2F2F2;
  width: calc(344px - 20px);
}

.header-right-btns__search--active {
  display: flex;
}

.header-right-btns__search-btn {
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.header-right-btns__search-btn::after {
  display: block;
  content: "";
  background: url(/images/search.svg?938e7a5973053ea1f1f2ba038ba24a9e);
  background-size: 24.4px;
  height: 24.4px;
  width: 24.4px;
  z-index: 3;
}

.header-right-btns__search-btn--action {
  margin-left: 0;
  background-color: #F2F2F2;
}

.header-right-btns__search-btn--hide {
  display: none;
}

.header-right-btns__close-btn {
  border: none;
  cursor: pointer;
}

.header-right-btns__close-btn::after {
  display: block;
  content: "";
  background: url(/images/close.svg?8ab6d578277cd8965187e806711e7d32);
  background-size: 20px;
  height: 20px;
  width: 20px;
  z-index: 3;
}

.header-right-btns__signup-btn {
  margin-left: 16px;
}

.footer {
  padding: 1.3rem 3rem;
  border-top: 1px solid #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: inherit;
  align-items: inherit;
}

.footer__logo::before {
  display: block;
  content: "";
  background: url(/images/logo.svg?0f9091a87a8fb3cddefc8967b5878c47);
  width: 45px;
  height: 38px;
}

.footer__logo::after {
  display: block;
  content: "";
  background: url(/images/logo-label.svg?4344c1b344a092ff41489920a87c9389);
  width: 60px;
  height: 35px;
  margin-left: 13px;
}

.footer-nav {
  color: #333333;
}

.footer-nav__item {
  font-size: 0.9rem;
  font-weight: 500;
}

.footer-socials__item + .footer-socials__item {
  margin-left: 1.3rem;
}

.burger-toggle {
  display: block;
  cursor: pointer;
}

.burger-toggle input {
  display: none;
}

.burger-toggle input + div {
  width: 20px;
  height: 14px;
  position: relative;
}

.burger-toggle input + div div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s ease;
}

.burger-toggle input + div div span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.burger-toggle input + div div span:first-child {
  top: 0;
}

.burger-toggle input + div div span:first-child:before,
.burger-toggle input + div div span:first-child:after {
  top: 0;
}

.burger-toggle input + div div span:last-child {
  bottom: 0;
}

.burger-toggle input + div div span:last-child:before,
.burger-toggle input + div div span:last-child:after {
  bottom: 0;
}

.burger-toggle input + div div span:before,
.burger-toggle input + div div span:after {
  content: "";
  display: block;
  width: 47%;
  height: 2px;
  border-radius: 1px;
  background: #4F4F4F;
  position: absolute;
  -webkit-backface-visibility: hidden;
  transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
}

.burger-toggle input + div div span:before {
  left: 0;
  transform-origin: 0 50%;
  transform: translate(1px, 0) scaleX(1.1);
}

.burger-toggle input + div div span:after {
  right: 0;
  transform-origin: 100% 50%;
  transform: translate(-1px, 0) scaleX(1.1);
}

.burger-toggle input + div svg {
  display: block;
  fill: none;
  stroke: #4F4F4F;
  stroke-width: 2px;
  width: 44px;
  height: 44px;
  stroke-linecap: round;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  stroke-dasharray: 0 82.801 8 82.801;
  stroke-dashoffset: 82.801;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  transform: scale(1);
  transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, transform 0.5s ease, stroke 0.4s ease;
}

.burger-toggle input + div svg:nth-child(3) {
  transform: rotate(180deg) scale(1);
}

.burger-toggle input:checked + div div {
  transform: rotate(90deg);
}

.burger-toggle input:checked + div div span:before,
.burger-toggle input:checked + div div span:after {
  background: #4F4F4F;
}

.burger-toggle input:checked + div div span:first-child:before {
  transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}

.burger-toggle input:checked + div div span:first-child:after {
  transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}

.burger-toggle input:checked + div div span:last-child:before {
  transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}

.burger-toggle input:checked + div div span:last-child:after {
  transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}

.burger-toggle input:checked + div svg {
  stroke-dashoffset: 62;
  stroke-dasharray: 0 82.801 62 82.801;
  transform: rotate(90deg);
  stroke: #4F4F4F;
}

.burger-toggle input:checked + div svg:nth-child(3) {
  transform: rotate(270deg);
}

@media only screen and (max-width: 1380px) {
  .header-right-btns__more-btn {
    display: block;
    padding: 1rem 0.6rem;
  }

  .header-right-btns__search {
    position: fixed;
    top: 100px;
    left: 2%;
    width: 96%;
  }

  .header-right-btns__search #search-field {
    width: inherit;
  }

  .header-right__nav {
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    top: 100px;
    background-color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 6px;
  }

  .header-right__nav-item {
    display: block;
    margin: 8px 0px;
    text-align: left;
  }

  .header-right__nav--active {
    display: flex;
  }

  .header-left__nav {
    margin-left: 10px;
  }

  .footer {
    flex-direction: column;
  }

  .footer-nav {
    margin: 1rem;
    text-align: center;
    justify-content: space-between;
  }

  .footer-nav__item {
    margin: 1rem;
  }
}

@media only screen and (max-width: 990px) {
  .header {
    height: 54px;
    padding: 0 15px;
  }

  .header-left__nav {
    display: none;
  }

  .header-left__logo {
    margin-left: 50px;
  }

  .header-left-burger {
    display: block;
  }

  .header-right-btns__signup-btn {
    display: none;
  }

  .header-right-btns__more-btn {
    display: none;
  }

  .header #search-btn {
    background-color: white;
  }

  .header #search-btn.header-right-btns__search-btn--hide {
    display: block;
    opacity: 0;
    z-index: -5;
  }

  .footer-nav__copy {
    display: block;
  }
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  top: 0;
  z-index: 5;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
}

.header-right__avlogin {
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.5);
  display: none;
  position: absolute;
  right: 40px;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  top: 100px;
  background-color: #F2F2F2;
  padding: 10px 20px;
  border-radius: 6px;
}

.header-right__avlogin-item {
  display: block;
  margin: 8px 0px;
  text-align: left;
}

.header-right__avlogin-item-sep {
  background: #000;
  height: 0.5px;
  margin: 8px 0px;
}

.header-right__avlogin--active {
  display: flex;
}

.header-left {
  display: inherit;
  align-items: inherit;
}

.header-left-burger {
  display: none;
}

.header-left__logo {
  display: inherit;
  align-items: inherit;
}

.header-left__logo::before {
  display: block;
  content: "";
  background: url(/images/logo.svg?0f9091a87a8fb3cddefc8967b5878c47);
  width: 45px;
  height: 38px;
}

.header-left__logo::after {
  display: block;
  content: "";
  background: url(/images/logo-label.svg?4344c1b344a092ff41489920a87c9389);
  width: 60px;
  height: 35px;
  margin-left: 13px;
}

.header-left__nav {
  display: inherit;
  align-items: inherit;
  margin-left: 142px;
}

.header-left__nav-item {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

.header-mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  height: 100vh;
  width: 85vw;
  background-color: white;
  transition: 0.2s;
}

.header-mobile-nav__nav {
  display: flex;
  flex-direction: column;
  padding: 16px 36px;
}

.header-mobile-nav__nav-item {
  font-size: 16px;
  margin: unset;
  margin-bottom: 24px;
  color: #333333;
}

.header-mobile-nav__avlogin {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.header-mobile-nav__close {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #F2F2F2;
}

.header-mobile-nav__close-btn {
  padding: 0 20px 0 20px;
  width: 16px;
  height: 16px;
  background-color: white;
  border: none;
}

.header-mobile-nav__close-btn::after {
  display: block;
  content: "";
  background: url(/images/close.svg?8ab6d578277cd8965187e806711e7d32);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.header-mobile-nav--hidden {
  left: -100vw;
}

.header-right {
  display: inherit;
  align-items: inherit;
}

.header-right__nav {
  display: inherit;
  z-index: 10;
  align-items: inherit;
}

.header-right__nav-item {
  font-size: 16px;
  font-weight: normal;
  color: #4F4F4F;
  margin-left: 16px;
}

.header-right__nav--hide {
  display: none;
}

.header-right-btns {
  display: inherit;
  align-items: inherit;
  margin-left: 18px;
}

.header-right-btns-avlogin {
  display: block;
  height: 48px;
  width: 48px;
  margin-left: 16px;
  border-radius: 50%;
}

.header-right-btns__more-btn {
  display: none;
  padding: 1rem 0.6rem;
}

.header-right-btns__more-btn::after {
  display: block;
  content: "";
  background: url(/images/more.svg?df2151ec7a58246628f35ed01891e287);
  background-repeat: no-repeat;
  width: 18px;
  height: 4px;
  z-index: 3;
}

.header-right-btns__search {
  display: none;
  justify-content: space-between;
  width: 344px;
  height: 48px;
  background-color: #F2F2F2;
  z-index: 4;
}

.header-right-btns__search-field {
  font-weight: normal;
  font-size: 16px;
  border: none;
  background-color: #F2F2F2;
  width: calc(344px - 20px);
}

.header-right-btns__search--active {
  display: flex;
}

.header-right-btns__search-btn {
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.header-right-btns__search-btn::after {
  display: block;
  content: "";
  background: url(/images/search.svg?938e7a5973053ea1f1f2ba038ba24a9e);
  background-size: 24.4px;
  height: 24.4px;
  width: 24.4px;
  z-index: 3;
}

.header-right-btns__search-btn--action {
  margin-left: 0;
  background-color: #F2F2F2;
}

.header-right-btns__search-btn--hide {
  display: none;
}

.header-right-btns__close-btn {
  border: none;
  cursor: pointer;
}

.header-right-btns__close-btn::after {
  display: block;
  content: "";
  background: url(/images/close.svg?8ab6d578277cd8965187e806711e7d32);
  background-size: 20px;
  height: 20px;
  width: 20px;
  z-index: 3;
}

.footer {
  padding: 1.3rem 3rem;
  border-top: 1px solid #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: inherit;
  align-items: inherit;
}

.footer__logo::before {
  display: block;
  content: "";
  background: url(/images/logo.svg?0f9091a87a8fb3cddefc8967b5878c47);
  width: 45px;
  height: 38px;
}

.footer__logo::after {
  display: block;
  content: "";
  background: url(/images/logo-label.svg?4344c1b344a092ff41489920a87c9389);
  width: 60px;
  height: 35px;
  margin-left: 13px;
}

.footer-nav {
  color: #333333;
}

.footer-nav__item {
  font-size: 0.9rem;
  font-weight: 500;
}

.footer-socials__item + .footer-socials__item {
  margin-left: 1.3rem;
}

.burger-toggle {
  display: block;
  cursor: pointer;
}

.burger-toggle input {
  display: none;
}

.burger-toggle input + div {
  width: 20px;
  height: 14px;
  position: relative;
}

.burger-toggle input + div div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s ease;
}

.burger-toggle input + div div span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.burger-toggle input + div div span:first-child {
  top: 0;
}

.burger-toggle input + div div span:first-child:before,
.burger-toggle input + div div span:first-child:after {
  top: 0;
}

.burger-toggle input + div div span:last-child {
  bottom: 0;
}

.burger-toggle input + div div span:last-child:before,
.burger-toggle input + div div span:last-child:after {
  bottom: 0;
}

.burger-toggle input + div div span:before,
.burger-toggle input + div div span:after {
  content: "";
  display: block;
  width: 47%;
  height: 2px;
  border-radius: 1px;
  background: #4F4F4F;
  position: absolute;
  -webkit-backface-visibility: hidden;
  transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
}

.burger-toggle input + div div span:before {
  left: 0;
  transform-origin: 0 50%;
  transform: translate(1px, 0) scaleX(1.1);
}

.burger-toggle input + div div span:after {
  right: 0;
  transform-origin: 100% 50%;
  transform: translate(-1px, 0) scaleX(1.1);
}

.burger-toggle input + div svg {
  display: block;
  fill: none;
  stroke: #4F4F4F;
  stroke-width: 2px;
  width: 44px;
  height: 44px;
  stroke-linecap: round;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  stroke-dasharray: 0 82.801 8 82.801;
  stroke-dashoffset: 82.801;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  transform: scale(1);
  transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, transform 0.5s ease, stroke 0.4s ease;
}

.burger-toggle input + div svg:nth-child(3) {
  transform: rotate(180deg) scale(1);
}

.burger-toggle input:checked + div div {
  transform: rotate(90deg);
}

.burger-toggle input:checked + div div span:before,
.burger-toggle input:checked + div div span:after {
  background: #4F4F4F;
}

.burger-toggle input:checked + div div span:first-child:before {
  transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}

.burger-toggle input:checked + div div span:first-child:after {
  transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}

.burger-toggle input:checked + div div span:last-child:before {
  transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}

.burger-toggle input:checked + div div span:last-child:after {
  transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}

.burger-toggle input:checked + div svg {
  stroke-dashoffset: 62;
  stroke-dasharray: 0 82.801 62 82.801;
  transform: rotate(90deg);
  stroke: #4F4F4F;
}

.burger-toggle input:checked + div svg:nth-child(3) {
  transform: rotate(270deg);
}

@media only screen and (max-width: 1380px) {
  .header-right-btns__more-btn {
    display: block;
    padding: 1rem 0.6rem;
  }

  .header-right-btns__search {
    position: fixed;
    top: 100px;
    left: 2%;
    width: 96%;
  }

  .header-right-btns__search #search-field {
    width: inherit;
  }

  .header-right__nav {
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.5);
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    top: 100px;
    background-color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 6px;
  }

  .header-right__nav-item {
    display: block;
    margin: 8px 0px;
    text-align: left;
  }

  .header-right__nav--active {
    display: flex;
  }

  .header-left__nav {
    margin-left: 10px;
  }

  .footer {
    flex-direction: column;
  }

  .footer-nav {
    margin: 1rem;
    text-align: center;
    justify-content: space-between;
  }

  .footer-nav__item {
    margin: 1rem;
  }
}

@media only screen and (max-width: 990px) {
  .header {
    height: 54px;
    padding: 0 15px;
  }

  .header-left__nav {
    display: none;
  }

  .header-left__logo {
    margin-left: 50px;
  }

  .header-left-burger {
    display: block;
  }

  .header-right-btns-avlogin {
    display: none;
  }

  .header-right-btns__signup-btn {
    display: none;
  }

  .header-right-btns__more-btn {
    display: none;
  }

  .header #search-btn {
    background-color: white;
  }

  .header #search-btn.header-right-btns__search-btn--hide {
    display: block;
    opacity: 0;
    z-index: -5;
  }

  .footer-nav__copy {
    display: block;
  }
}

.page-project-new-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: white;
}

.page-project-new-section--gray {
  background: #F2F2F2;
}

.page-project-new-section__title {
  color: #BDBDBD;
  font-weight: 500;
  font-size: 1.5rem;
}

.page-project-new-section-sgrid {
  width: 100%;
  display: flex;
}

.page-project-new-section-sgrid-secondcol {
  margin-left: 8.125rem;
  width: 50%;
}

.page-project-new-section-sgrid-secondcol-text {
  margin-top: 1rem;
  width: 100%;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 0.9rem;
}

.page-project-new-section-sgrid-secondcol-text-field {
  border-radius: 4px;
  display: flex;
}

.page-project-new-section-sgrid-secondcol-text-field-input {
  resize: none;
  width: 100%;
  min-height: 12.5rem;
  padding: 0.1rem;
  background-color: #F2F2F2;
  border: none;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4f4f4f;
}

.page-project-new-section-sgrid-secondcol-sfield {
  display: flex;
}

.page-project-new-section-sgrid-secondcol-sfield-email {
  width: 50%;
  margin-right: 1rem;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 0.9rem;
}

.page-project-new-section-sgrid-secondcol-sfield-email-field {
  border-radius: 4px;
  display: flex;
}

.page-project-new-section-sgrid-secondcol-sfield-email-field-input {
  width: 100%;
  padding: 0.1rem;
  background-color: #F2F2F2;
  border: none;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-project-new-section-sgrid-secondcol-sfield-telegram {
  width: 50%;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 0.9rem;
}

.page-project-new-section-sgrid-secondcol-sfield-telegram-field {
  border-radius: 4px;
  display: flex;
}

.page-project-new-section-sgrid-secondcol-sfield-telegram-field-input {
  width: 100%;
  padding: 0.1rem;
  background-color: #F2F2F2;
  border: none;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-project-new-section-sgrid-firstcol {
  width: 50%;
}

.page-project-new-section-sgrid-firstcol__text {
  color: #4F4F4F;
  line-height: 1.5rem;
}

.page-project-new-section-sgrid-firstcol__subtitle {
  width: 80%;
  color: #333333;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1740px) {
  .page-project-new-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: white;
  }

  .page-project-new-section-sgrid-firstcol__subtitle {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 1440px) {
  .page-project-new-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: white;
  }

  .page-project-new-section-sgrid-firstcol__subtitle {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 1130px) {
  .page-project-new-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: white;
  }

  .page-project-new-section-sgrid {
    display: block;
  }

  .page-project-new-section-sgrid-firstcol {
    width: 100%;
  }

  .page-project-new-section-sgrid-firstcol__subtitle {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .page-project-new-section-sgrid-secondcol {
    margin-top: 2rem;
    margin-left: 0rem;
    width: 100%;
  }
}

@media only screen and (max-width: 580px) {
  .page-project-new-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: white;
  }

  .page-project-new-section-sgrid {
    display: block;
  }

  .page-project-new-section-sgrid-firstcol {
    width: 100%;
  }

  .page-project-new-section-sgrid-firstcol__subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .page-project-new-section-sgrid-secondcol {
    margin-top: 2rem;
    margin-left: 0rem;
    width: 100%;
  }
}

.page-project-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: white;
}

.page-project-section--gray {
  background: #F2F2F2;
}

.page-project-section-grid {
  display: grid;
  grid-template-columns: auto 28rem;
  grid-column-gap: 20px;
}

.page-project-section-grid-column__1-upper {
  height: 60px;
}

.page-project-section-grid-column__1-upper__title {
  margin-top: 12px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #333333;
}

.page-project-section-grid-column__1-upper-block {
  display: inline-block;
}

.page-project-section-grid-column__1-upper-block-tree {
  display: flex;
}

.page-project-section-grid-column__1-upper-block-tree-icon {
  height: 20px;
}

.page-project-section-grid-column__1-upper-block-tree-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #828282;
}

.page-project-section-grid-column__1-photos {
  display: grid;
  margin-top: 20px;
}

.page-project-section-grid-column__1-photos-main {
  background: green;
  height: 540px;
  border-radius: 4px;
}

.page-project-section-grid-column__1-photos-scroll {
  overflow-x: hidden;
  display: flex;
  margin-top: 20px;
  border-radius: 4px;
}

.page-project-section-grid-column__1-photos-scroll__item {
  flex-shrink: 0;
  border-radius: 4px;
  background: green;
  margin-right: 20px;
  height: 72px;
  width: 72px;
}

.page-project-section-grid-column__1-content {
  margin-top: 100px;
}

.page-project-section-grid-column__1-content-item__image {
  margin-bottom: 80px;
  margin-top: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 400px;
}

.page-project-section-grid-column__1-content-item__description {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  display: flex;
  align-items: center;
  color: #4F4F4F;
}

.page-project-section-grid-column__1-content-item-title {
  display: flex;
}

.page-project-section-grid-column__1-content-item-title__num {
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: flex-end;
  color: #BDBDBD;
}

.page-project-section-grid-column__1-content-item-title__text {
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: flex-end;
  color: #333333;
}

.page-project-section-grid-column__2-telegram-logo {
  display: flex;
  height: 60px;
}

.page-project-section-grid-column__2-telegram-logo__title {
  margin: auto auto auto 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #333333;
}

.page-project-section-grid-column__2-telegram-logo img {
  margin: auto 12px auto auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 42px;
  width: 42px;
}

.page-project-section-grid-column__2-telegram-chat {
  overflow: hidden;
  margin-top: 20px;
  padding: 20px 20px 0px 20px;
  height: 632px;
  background: #E1EEF5;
  box-shadow: inset 0px 0px 10px #E1EEF5;
  border-radius: 4px;
}

.page-project-section-grid-column__2-telegram-chat-item {
  margin-bottom: 20px;
  padding: 12px 16px;
  background: #FFFFFF;
  border-radius: 8px;
}

.page-project-section-grid-column__2-telegram-chat-item__username {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin: 0px;
  margin-bottom: 6px;
}

.page-project-section-grid-column__2-telegram-chat-item__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #333333;
}

.page-project-section-grid-column__2-info {
  border-radius: 4px;
  padding: 30px 20px 20px 20px;
  margin-top: 100px;
  background: #F2F2F2;
}

.page-project-section-grid-column__2-info__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #333333;
}

.page-project-section-grid-column__2-info-tree ul {
  margin-top: 4px;
  margin-bottom: 20px;
}

.page-project-section-grid-column__2-info-tree li {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: #4F4F4F;
  list-style-type: none;
}

.page-project-section-grid-column__2-info-contributors-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.page-project-section-grid-column__2-info-contributors-list-col {
  max-width: 50%;
  width: 100%;
}

.page-project-section-grid-column__2-info-contributors-list-col + .page-project-section-grid-column__2-info-contributors-list-col {
  margin-left: 1rem;
}

.page-project-section-grid-column__2-info-contributors-item {
  padding: 1.8rem;
  background: white;
  margin-bottom: 1rem;
}

.page-project-section-grid-column__2-info-contributors-item-stack__title {
  color: #BDBDBD;
  margin-bottom: 4px;
}

.page-project-section-grid-column__2-info-contributors-item-stack__value {
  line-height: 1.5rem;
}

.page-project-section-grid-column__2-info-contributors-item-info__wrapper {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.page-project-section-grid-column__2-info-contributors-item-info__avatar {
  margin-right: 1.8rem;
  width: 4rem;
  height: 4rem;
}

.page-project-section-grid-column__2-info-contributors-item-info__name {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 700;
}

.page-project-section-grid-column__2-info-contributors-item-info__status {
  color: #828282;
  margin-top: 4px;
}

.page-project-section-grid-column__2-info-contributors-item-info__status--owner {
  color: #00D681;
}

.page-project-section-grid-column__2-info-contributors-item-info__status--owner::before {
  content: "";
  display: inline-block;
  margin-right: 0.3rem;
  background: url(/images/cont_owner.svg?1aec8b7aa07b5a400a576bf3a9412539) center center no-repeat;
  width: 1rem;
  height: 1rem;
  background-size: contain;
}

.page-project-section-grid-column__2-info-contributors-item-info__status--sponsor {
  color: #FFB21C;
}

.page-project-section-grid-column__2-info-contributors-item-info__status--sponsor::before {
  content: "";
  display: inline-block;
  margin-right: 0.3rem;
  background: url(/images/cont_sponsor.svg?9182305c67954fe1edcf68dc3db0a217) center center no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.btn {
  margin-top: 0px;
  float: right;
}

@media only screen and (max-width: 1740px) {
  .page-project-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: white;
  }

  .page-project-section-sgrid-firstcol__subtitle {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 1500px) {
  .page-container {
    padding: 0 8rem;
  }

  .page-project-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: white;
  }

  .page-project-section-sgrid-firstcol__subtitle {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 1280px) {
  .page-project-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: white;
  }

  .page-project-section-grid {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 20px;
  }
}

@media only screen and (max-width: 810px) {
  .btn {
    margin-top: 20px;
    float: none;
  }

  .page-project-section-grid-column__1-upper {
    height: auto;
  }

  .page-project-section-grid-column__1-upper-block-tree {
    overflow: hidden;
  }

  .page-container {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 580px) {
  .page-project-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: white;
  }

  .page-project-section-sgrid {
    display: block;
  }

  .page-project-section-sgrid-firstcol {
    width: 100%;
  }

  .page-project-section-sgrid-firstcol__subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .page-project-section-sgrid-secondcol {
    margin-top: 2rem;
    margin-left: 0rem;
    width: 100%;
  }
}

.page-donat-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: white;
}

.page-donat-section--gray {
  background: #F2F2F2;
}

.page-donat-section__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #BDBDBD;
}

.page-donat-section__subtitle {
  width: 80%;
  margin-bottom: 3rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.page-donat-stat {
  display: flex;
  justify-content: space-between;
}

.page-donat-stat-item {
  text-align: center;
}

.page-donat-stat-item__value {
  letter-spacing: -2px;
  color: #333333;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  padding: 0 0.7rem;
  white-space: nowrap;
}

.page-donat-stat-item__report {
  color: #00D681;
}

.page-donat-stat-item__description {
  color: #4F4F4F;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.page-donat-stat-report {
  cursor: pointer;
  margin-left: 8rem;
}

.page-donat-paymentsistems {
  display: flex;
  justify-content: space-between;
}

.page-donat-paymentsistems-item {
  min-width: 300px;
  width: 32%;
  background: url(/images/Frame-background-payment-sistems.png?7e21a211522130599ef16a664f1f263c) no-repeat center;
  border-radius: 12px;
  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-donat-paymentsistems-item__maincontent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.page-donat-paymentsistems-item__maincontent_img {
  height: 6.25rem;
  padding: 0.75rem 10rem;
}

.page-donat-paymentsistems-item__maincontent_title {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.02em;
  color: white;
}

.page-donat-paymentsistems-item__description {
  cursor: pointer;
  width: 90%;
  text-decoration: none;
  text-align: right;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: white;
}

.page-donat-paymentsistems-item__description span {
  background: url(/images/list-marker.svg?22e1773d93f9c02661cb7fd20dfdee80);
}

.page-donat-donate-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.page-donat-donate-list__col {
  max-width: 50%;
  width: 100%;
}

.page-donat-donate-list__col + .page-donat-donate-list__col {
  margin-left: 1rem;
}

.page-donat-donate-item {
  background: #F2F2F2;
  padding: 2rem;
  margin: 1rem 0;
}

.page-donat-donate-item__text {
  margin-bottom: 2.5rem;
  line-height: 1.5rem;
}

.page-donat-donate-item__cost {
  color: #00D681;
  font-weight: 700;
}

.page-donat-donate-item__date {
  color: #BDBDBD;
  float: right;
}

.page-donat-donate__action {
  display: inline;
}

.page-donat-downloadmore {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.page-donat-downloadmore__btn {
  cursor: pointer;
  width: 11rem;
  height: 4rem;
  background-color: #00D681;
  border-radius: 6px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #003D3D;
}

@media only screen and (max-width: 1200px) {
  .page-donat-section__subtitle {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .page-donat-stat {
    flex-wrap: wrap;
    justify-content: center;
  }

  .page-donat-stat-item {
    min-width: 20%;
    margin-bottom: 2rem;
  }

  .page-donat-stat-item__value {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .page-donat-stat-report {
    margin-left: 0;
  }

  .page-donat-donate-list {
    flex-direction: column;
  }

  .page-donat-donate-list__col {
    max-width: 100%;
  }

  .page-donat-donate-list__col + .page-donat-donate-list__col {
    margin-left: 0rem;
  }

  .page-donat-donate-item__text {
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
  }

  .page-donat-donate-item__cost {
    color: #00D681;
    font-weight: 700;
  }

  .page-donat-donate-item__date {
    color: #BDBDBD;
  }

  .page-donat-donate__action {
    display: inline;
  }

  .page-donat-paymentsistems {
    flex-wrap: wrap;
    justify-content: center;
  }

  .page-donat-paymentsistems-item {
    min-width: 25rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 990px) {
  .page-donat-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .page-donat-section__subtitle {
    width: 100%;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .page-donat-section__subtitle {
    font-size: 1.5rem;
  }

  .page-donat-stat-item {
    flex-direction: column;
    width: 100%;
  }

  .page-donat-paymentsistems {
    flex-direction: column;
    width: 100%;
  }
}

.page-users-content-wrapper-conteiner {
  width: 100%;
}

.page-users-content-wrapper-conteiner-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5rem;
}

.page-users-content-wrapper-conteiner-top-search {
  width: calc(100% - 60px);
  margin-right: 1rem;
  border-radius: 4px;
  background-color: #E0E0E0;
  padding: 0.9rem;
}

.page-users-content-wrapper-conteiner-top-search-field {
  border-radius: 4px;
  display: flex;
}

.page-users-content-wrapper-conteiner-top-search-field-icon {
  background: url(/images/search.svg?938e7a5973053ea1f1f2ba038ba24a9e);
  width: 20px;
  height: 20px;
  margin-right: 0.6rem;
}

.page-users-content-wrapper-conteiner-top-search-field-input {
  width: 80%;
  padding: 0.1rem;
  background-color: #E0E0E0;
  border: none;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber {
  display: contents;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter {
  width: 52px;
  background-color: #E0E0E0;
  border-radius: 4px;
  padding: 0.9rem;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field {
  border-radius: 4px;
  display: flex;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-icon {
  background: url(/images/settings.svg?2d6aaf7e3fb2594bd1f1c7908740bed9) no-repeat;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-top: 0.1rem;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-text {
  padding: 4px 0 0px 6px;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-tag {
  margin-right: 1rem;
  width: 25%;
  background-color: #E0E0E0;
  border-radius: 4px;
  padding: 0.9rem;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field {
  border-radius: 4px;
  display: flex;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field-icon {
  background: url(/images/list-marker.svg?22e1773d93f9c02661cb7fd20dfdee80) no-repeat center;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-top: 0.1rem;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field-text {
  width: 100%;
  padding: 4px 0 0px 6px;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-cat {
  margin-right: 1rem;
  width: 25%;
  background-color: #E0E0E0;
  border-radius: 4px;
  padding: 0.9rem;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field {
  border-radius: 4px;
  display: flex;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field-icon {
  background: url(/images/list-marker.svg?22e1773d93f9c02661cb7fd20dfdee80) no-repeat center;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-top: 0.1rem;
}

.page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field-text {
  width: 100%;
  padding: 4px 0 0px 6px;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-users-content-wrapper-conteiner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.page-users-content-wrapper-conteiner-row :nth-child(2) {
  margin: 0 1.25rem;
  margin-bottom: 3.8rem;
}

.page-users-content-wrapper-conteiner-row {
  display: flex;
  justify-content: space-between;
}

.page-users-content-wrapper-conteiner-row-col :nth-child(2) {
  margin: 0;
}

.page-users-content-wrapper-conteiner-row-col {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 3.8rem;
}

.page-users-content-wrapper-conteiner-row-col-imgconteiner {
  width: 100%;
  border-radius: 4px;
}

.page-users-content-wrapper-conteiner-row-col-imgconteiner-img {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-users-content-wrapper-conteiner-row-col-inside {
  margin: 0 0 0 0;
  padding: 0 1.25rem 1.25rem;
  letter-spacing: -0.02em;
}

.page-users-content-wrapper-conteiner-row-col-inside__h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  padding: 1rem 0rem;
}

.page-users-content-wrapper-conteiner-row-col-inside-description {
  margin: 0 0 0 0;
  font-size: 14px;
  font-style: normal;
  line-height: 140%;
  color: #4F4F4F;
}

.page-users-content-wrapper-conteiner-row-download {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.page-users-content-wrapper-conteiner-row-download-btn {
  text-decoration: none;
  padding: 1.475rem 3rem;
  background-color: #00D681;
  border-radius: 6px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #003D3D;
}

.page-users-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: white;
}

.page-users-section--gray {
  background: #F2F2F2;
}

.page-users-section__title {
  color: #BDBDBD;
  font-weight: 500;
  font-size: 1.5rem;
}

.page-users-section__subtitle {
  width: 80%;
  color: #333333;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.page-users-contributors-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.page-users-contributors-list-col {
  max-width: 50%;
  width: 100%;
}

.page-users-contributors-list-col + .page-users-contributors-list-col {
  margin-left: 1rem;
}

.page-users-contributors-item {
  padding: 1.8rem;
  background: white;
  margin-bottom: 1rem;
}

.page-users-contributors-item-stack__title {
  color: #BDBDBD;
  margin-bottom: 4px;
}

.page-users-contributors-item-stack__value {
  line-height: 1.5rem;
}

.page-users-contributors-item-info__wrapper {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.page-users-contributors-item-info__avatar {
  margin-right: 1.8rem;
  width: 4rem;
  height: 4rem;
}

.page-users-contributors-item-info__name {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 700;
}

.page-users-contributors-item-info__status {
  color: #828282;
  margin-top: 4px;
}

.page-users-contributors-item-info__status--owner {
  color: #00D681;
}

.page-users-contributors-item-info__status--owner::before {
  content: "";
  display: inline-block;
  margin-right: 0.3rem;
  background: url(/images/cont_owner.svg?1aec8b7aa07b5a400a576bf3a9412539) center center no-repeat;
  width: 1rem;
  height: 1rem;
  background-size: contain;
}

.page-users-contributors-item-info__status--sponsor {
  color: #FFB21C;
}

.page-users-contributors-item-info__status--sponsor::before {
  content: "";
  display: inline-block;
  margin-right: 0.3rem;
  background: url(/images/cont_sponsor.svg?9182305c67954fe1edcf68dc3db0a217) center center no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

@media only screen and (max-width: 1200px) {
  .page-users-section__subtitle {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .page-users-contributors-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .page-users-contributors-list-col {
    max-width: 100%;
  }

  .page-users-contributors-list-col + .page-users-contributors-list-col {
    margin-left: 0rem;
  }

  .page-users-contributors-item-info__avatar {
    width: 3rem;
    height: 3rem;
  }

  .page-users-contributors-item-info__name {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 990px) {
  .page-users-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .page-users-section__subtitle {
    width: 100%;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 620px) {
  .page-users-section__subtitle {
    font-size: 1.5rem;
  }

  .page-users-content-wrapper-conteiner {
    width: 100%;
  }

  .page-users-content-wrapper-conteiner-top {
    display: block;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  .page-users-content-wrapper-conteiner-top-search {
    width: 100%;
    margin-right: 1rem;
    border-radius: 4px;
    background-color: #E0E0E0;
    padding: 0.9rem;
  }

  .page-users-content-wrapper-conteiner-top-search-field {
    border-radius: 4px;
    display: flex;
  }

  .page-users-content-wrapper-conteiner-top-search-field-icon {
    background: url(/images/search.svg?938e7a5973053ea1f1f2ba038ba24a9e);
    width: 20px;
    height: 20px;
    margin-right: 0.6rem;
  }

  .page-users-content-wrapper-conteiner-top-search-field-input {
    width: 100%;
    padding: 0.1rem;
    background-color: #E0E0E0;
    border: none;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    color: #4F4F4F;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber {
    margin-top: 1rem;
    display: flex;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter {
    width: 52px;
    background-color: #E0E0E0;
    border-radius: 4px;
    padding: 0.9rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field {
    border-radius: 4px;
    display: flex;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-icon {
    background: url(/images/settings.svg?2d6aaf7e3fb2594bd1f1c7908740bed9) no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-top: 0.1rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-text {
    padding: 4px 0 0px 6px;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    color: #4F4F4F;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-tag {
    margin-right: 1rem;
    width: 50%;
    background-color: #E0E0E0;
    border-radius: 4px;
    padding: 0.9rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field {
    border-radius: 4px;
    display: flex;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field-icon {
    background: url(/images/list-marker.svg?22e1773d93f9c02661cb7fd20dfdee80) no-repeat center;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-top: 0.1rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field-text {
    width: 100%;
    padding: 4px 0 0px 6px;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    color: #4F4F4F;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-cat {
    margin-right: 1rem;
    width: 50%;
    background-color: #E0E0E0;
    border-radius: 4px;
    padding: 0.9rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field {
    border-radius: 4px;
    display: flex;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field-icon {
    background: url(/images/list-marker.svg?22e1773d93f9c02661cb7fd20dfdee80) no-repeat center;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-top: 0.1rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field-text {
    width: 100%;
    padding: 4px 0 0px 6px;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    color: #4F4F4F;
  }

  .page-users-content-wrapper-conteiner-download {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  .page-users-content-wrapper-conteiner-download-btn {
    text-decoration: none;
    padding: 1.475rem 3rem;
    background-color: #00D681;
    border-radius: 6px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #003D3D;
  }
}

@media only screen and (max-width: 400px) {
  .page-users-section__subtitle {
    font-size: 1.5rem;
  }

  .page-users-content-wrapper-conteiner {
    width: 100%;
  }

  .page-users-content-wrapper-conteiner-top {
    display: block;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  .page-users-content-wrapper-conteiner-top-search {
    width: 100%;
    margin-right: 1rem;
    border-radius: 4px;
    background-color: #E0E0E0;
    padding: 0.9rem;
  }

  .page-users-content-wrapper-conteiner-top-search-field {
    border-radius: 4px;
    display: flex;
  }

  .page-users-content-wrapper-conteiner-top-search-field-icon {
    background: url(/images/search.svg?938e7a5973053ea1f1f2ba038ba24a9e);
    width: 20px;
    height: 20px;
    margin-right: 0.6rem;
  }

  .page-users-content-wrapper-conteiner-top-search-field-input {
    width: 100%;
    padding: 0.1rem;
    background-color: #E0E0E0;
    border: none;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    color: #4F4F4F;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber {
    margin-top: 1rem;
    display: flex;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter {
    width: 52px;
    background-color: #E0E0E0;
    border-radius: 4px;
    padding: 0.9rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field {
    border-radius: 4px;
    display: flex;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-icon {
    background: url(/images/settings.svg?2d6aaf7e3fb2594bd1f1c7908740bed9) no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-top: 0.1rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-text {
    padding: 4px 0 0px 6px;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    color: #4F4F4F;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-tag {
    margin-right: 0.2rem;
    width: 50%;
    background-color: #E0E0E0;
    border-radius: 4px;
    padding: 0.9rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field {
    border-radius: 4px;
    display: flex;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field-icon {
    background: url(/images/list-marker.svg?22e1773d93f9c02661cb7fd20dfdee80) no-repeat center;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-top: 0.1rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field-text {
    width: 100%;
    padding: 4px 0 0px 6px;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    color: #4F4F4F;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-cat {
    margin-right: 0.2rem;
    width: 50%;
    background-color: #E0E0E0;
    border-radius: 4px;
    padding: 0.9rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field {
    border-radius: 4px;
    display: flex;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field-icon {
    background: url(/images/list-marker.svg?22e1773d93f9c02661cb7fd20dfdee80) no-repeat center;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-top: 0.1rem;
  }

  .page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field-text {
    width: 100%;
    padding: 4px 0 0px 6px;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    color: #4F4F4F;
  }

  .page-users-content-wrapper-conteiner-download {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  .page-users-content-wrapper-conteiner-download-btn {
    text-decoration: none;
    padding: 1.475rem 3rem;
    background-color: #00D681;
    border-radius: 6px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #003D3D;
  }
}

.page-user {
  padding-top: 5rem;
  padding-bottom: 25rem;
  background-color: #F2F2F2;
}

.page-user-container {
  padding: 0 18rem;
}

.page-user-profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-user-profile_bottom {
  margin-bottom: 83px;
}

.page-user-profile__user-wrap {
  width: 378px;
}

.page-user-profile__img {
  background: url(/images/page-user-avatar.jpg?61a1137f0df91e90a76697b7a2d3f7aa) no-repeat;
  min-width: 192px;
  width: 192px;
  height: 192px;
  margin-right: 60px;
  border-radius: 50%;
}

.page-user-profile__title {
  font-size: 30px;
  color: #333333;
  line-height: 36px;
  margin-bottom: 8px;
}

.page-user-profile__skills {
  font-size: 16px;
  color: #828282;
  line-height: 140%;
  margin-bottom: 23px;
}

.page-user-status {
  display: flex;
  flex-wrap: wrap;
}

.page-user-status__rank {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-size: 18px;
  color: #00D681;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-decoration: none;
  cursor: pointer;
}

.page-user-status__rank-icon {
  margin-right: 7px;
}

.page-user-status__rating {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

.page-user-status_bottom {
  margin-bottom: 14px;
}

.page-user-btn {
  display: flex;
  flex-wrap: wrap;
}

.page-user-btn__edit {
  color: #333333;
  padding: 14px 24px;
  font-size: 16px;
  border: none;
  background-color: #FAFAFA;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 16px;
}

.page-user-btn__message {
  color: #333333;
  padding: 14px 24px;
  font-size: 16px;
  border: none;
  background-color: #FAFAFA;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  max-width: 204px;
  cursor: pointer;
}

.page-user-btn__message_telegram {
  margin-right: 10px;
}

.page-user-projects_container {
  padding: 0 18rem;
}

.page-user-projects-menu {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 4.375em;
}

.page-user-projects-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
  top: 140%;
}

.page-user-projects-menu__item {
  list-style-type: none;
  margin-right: 64px;
}

.page-user-projects-menu__link {
  text-decoration: none;
  color: #828282;
  font-size: 18;
  font-weight: 500;
  line-height: 150%;
}

.page-user-projects-menu__link_active {
  color: #333333;
}

.page-user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.page-user-card {
  max-width: 428px;
  min-width: 300px;
  width: 32%;
  margin-bottom: 3rem;
  box-shadow: 0 4px 3px #ededed;
  background-color: white;
}

.page-user-card__img {
  width: 100%;
  background-size: cover;
}

.page-user-card__content-wrap {
  padding: 30px;
}

.page-user-card__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 17px;
}

.page-user-card__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
}

.page-user-card__link {
  text-decoration: none;
  color: #BDBDBD;
  display: block;
  text-align: right;
  font-size: 0.9rem;
}

.page-user-card__link::after {
  content: ">";
  display: inline-block;
  margin-left: 0.5rem;
  color: inherit;
}

@media (max-width: 1480px) {
  .page-user-container {
    padding: 0 8rem;
  }
}

@media (max-width: 886px) {
  .page-user {
    padding-bottom: 5rem;
  }

  .page-user-container {
    padding: 0 8rem;
  }

  .page-user-profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .page-user-profile__img {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .page-user-profile__user-wrap {
    width: 100%;
  }

  .page-user-status {
    justify-content: center;
  }

  .page-user-btn {
    justify-content: center;
  }
}

@media only screen and (max-width: 911px) {
  .page-user-projects-menu__item {
    margin-right: 28px;
  }
}

@media only screen and (max-width: 610px) {
  .page-user-container {
    padding: 0 2rem;
  }

  .page-user-btn__edit {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .page-user-btn__message {
    min-width: 100%;
    justify-content: center;
  }
}

.page-user-edit {
  padding-top: 5rem;
  padding-bottom: 25rem;
  background-color: #F2F2F2;
}

.page-user-edit-container {
  padding: 0 18rem;
}

.page-user-edit-profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-user-edit-profile_bottom {
  margin-bottom: 83px;
}

.page-user-edit-profile__user-wrap {
  width: 378px;
}

.page-user-edit-profile__img {
  background: url(/images/page-user-avatar.jpg?61a1137f0df91e90a76697b7a2d3f7aa) no-repeat;
  min-width: 192px;
  width: 192px;
  height: 192px;
  margin-right: 60px;
  border-radius: 50%;
}

.page-user-edit-profile__title {
  font-size: 30px;
  color: #333333;
  line-height: 36px;
  margin-bottom: 8px;
}

.page-user-edit-profile__skills {
  font-size: 16px;
  color: #828282;
  line-height: 140%;
  margin-bottom: 23px;
}

.page-user-edit-status {
  display: flex;
  flex-wrap: wrap;
}

.page-user-edit-status__rank {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-size: 18px;
  color: #00D681;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-decoration: none;
  cursor: pointer;
}

.page-user-edit-status__rank-icon {
  margin-right: 7px;
}

.page-user-edit-status__rating {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

.page-user-edit-status_bottom {
  margin-bottom: 14px;
}

.page-user-edit-btn {
  display: flex;
  flex-wrap: wrap;
}

.page-user-edit-btn__edit {
  color: #333333;
  padding: 14px 24px;
  font-size: 16px;
  border: none;
  background-color: #FAFAFA;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 16px;
}

.page-user-edit-btn__message {
  color: #333333;
  padding: 14px 24px;
  font-size: 16px;
  border: none;
  background-color: #FAFAFA;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  max-width: 204px;
  cursor: pointer;
}

.page-user-edit-btn__message_telegram {
  margin-right: 10px;
}

.page-user-edit-projects_container {
  padding: 0 18rem;
}

.page-user-edit-projects-menu {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 4.375em;
}

.page-user-edit-projects-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
  top: 140%;
}

.page-user-edit-projects-menu__item {
  list-style-type: none;
  margin-right: 64px;
}

.page-user-edit-projects-menu__link {
  text-decoration: none;
  color: #828282;
  font-size: 18;
  font-weight: 500;
  line-height: 150%;
}

.page-user-edit-projects-menu__link_active {
  color: #333333;
}

.page-user-edit-projects-edit-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}

.page-user-edit-projects-edit-grid-c2 {
  margin-top: 0px;
}

.page-user-edit-projects-edit-grid-c2-loadimage {
  display: flex;
  margin-top: 40px;
  height: 60px;
  padding: 1rem;
  background: #E0E0E0;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
  border: none;
  border-radius: 8px;
}

.page-user-edit-projects-edit-grid-c2-loadimage-text {
  margin: auto auto auto 0;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4f4f4f;
}

.page-user-edit-projects-edit-field {
  border-radius: 4px;
  display: flex;
}

.page-user-edit-projects-edit-field-input {
  resize: none;
  width: 100%;
  min-height: 12.5rem;
  padding: 0.1rem;
  border-radius: 8px;
  padding: 1.5rem 1.2rem 1rem;
  background-color: #E0E0E0;
  border: none;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4f4f4f;
}

.input {
  background: #E0E0E0;
}

@media (max-width: 1480px) {
  .page-user-edit-container {
    padding: 0 8rem;
  }
}

@media (max-width: 886px) {
  .page-user-edit {
    padding-bottom: 5rem;
  }

  .page-user-edit-projects-edit-grid {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 20px;
  }

  .page-user-edit-projects-edit-grid-c2 {
    margin-top: 40px;
  }

  .page-user-edit-container {
    padding: 0 8rem;
  }

  .page-user-edit-profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .page-user-edit-profile__img {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .page-user-edit-profile__user-wrap {
    width: 100%;
  }

  .page-user-edit-status {
    justify-content: center;
  }

  .page-user-edit-btn {
    justify-content: center;
  }
}

@media only screen and (max-width: 911px) {
  .page-user-edit-projects-menu__item {
    margin-right: 28px;
  }
}

@media only screen and (max-width: 610px) {
  .page-user-edit-projects-edit-grid {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 20px;
  }

  .page-user-edit-projects-edit-grid-c2 {
    margin-top: 40px;
  }

  .page-user-edit-container {
    padding: 0 2rem;
  }

  .page-user-edit-btn__edit {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .page-user-edit-btn__message {
    min-width: 100%;
    justify-content: center;
  }
}

.page-list-content {
  display: block;
  z-index: 0;
}

.page-list-content-list-header {
  background: url(/images/list_header.png?bb56b172de397dd33a003a00f6e81311) no-repeat;
  background-size: cover;
  width: 100%;
  height: 18.75rem;
}

.page-list-content-list-header-row {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1rem 20rem;
  height: 51%;
}

.page-list-content-list-header-row__h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 108%;
  letter-spacing: -0.02em;
  color: white;
  width: 100%;
}

.page-list-content-list-header-col {
  display: flex;
  justify-content: start;
  padding: 0rem 20rem;
  height: 60%;
}

.page-list-content-list-header-col-1 {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.page-list-content-list-header-col-1__h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  color: white;
}

.page-list-content-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  width: 100%;
  padding: 5rem 18.75rem;
}

.page-list-content-wrapper-sidebar {
  position: relative;
  display: block;
  max-width: 12rem;
  padding: 0rem;
  margin-right: 9rem;
  margin-bottom: 3.8rem;
}

.page-list-content-wrapper-sidebar-close {
  height: 3.25rem;
  width: 3.25rem;
  background: #f2f2f2;
  border-radius: 4px;
  top: 1rem;
  right: 1rem;
  position: absolute;
  display: none;
}

.page-list-content-wrapper-sidebar-filters li {
  list-style-type: none;
}

.page-list-content-wrapper-sidebar-filters ul {
  margin: 0rem;
}

.page-list-content-wrapper-sidebar-filters-section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding: 1.375rem 0rem 0rem 0rem;
  line-height: 100%;
  color: #4F4F4F;
  list-style-type: none;
}

.page-list-content-wrapper-sidebar-filters-section-title ul {
  font-weight: normal;
  color: grey3;
}

.page-list-content-wrapper-sidebar-filters-section-title ul li {
  margin: 0.75rem;
}

.page-list-content-wrapper-sidebar-filters-section-title-icon {
  align-self: center;
}

.page-list-content-wrapper-sidebar-menutitle__h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 160%;
  color: #333333;
  letter-spacing: -0.02em;
}

.page-list-content-wrapper-conteiner {
  width: 100%;
  max-width: 62.5rem;
  padding: 0.5rem;
}

.page-list-content-wrapper-conteiner-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5rem;
}

.page-list-content-wrapper-conteiner-top-search {
  width: calc(100% - 60px);
  border-radius: 4px;
  background-color: #E0E0E0;
  padding: 0.9rem;
}

.page-list-content-wrapper-conteiner-top-search-field {
  border-radius: 4px;
  display: flex;
}

.page-list-content-wrapper-conteiner-top-search-field-icon {
  background: url(/images/search.svg?938e7a5973053ea1f1f2ba038ba24a9e);
  width: 20px;
  height: 20px;
  margin-right: 0.6rem;
}

.page-list-content-wrapper-conteiner-top-search-field-input {
  width: 80%;
  padding: 0.1rem;
  background-color: #E0E0E0;
  border: none;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter {
  width: 52px;
  background-color: #E0E0E0;
  border-radius: 4px;
  padding: 0.9rem;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter-field {
  border-radius: 4px;
  display: flex;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-icon {
  background: url(/images/settings.svg?2d6aaf7e3fb2594bd1f1c7908740bed9) no-repeat;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-top: 0.1rem;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-text {
  padding: 0.2rem;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter {
  display: none;
  width: 25%;
  background-color: #E0E0E0;
  border-radius: 4px;
  padding: 0.9rem;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter-field {
  border-radius: 4px;
  display: flex;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter-field-icon {
  background: url(/images/menu.svg?55f6849429de279d473c459c7ead3249) no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 0.6rem;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter-field-text {
  padding: 0.2rem;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-list-content-wrapper-conteiner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.page-list-content-wrapper-conteiner-row :nth-child(2) {
  margin: 0 1.25rem;
  margin-bottom: 3.8rem;
}

.page-list-content-wrapper-conteiner-row {
  display: flex;
  justify-content: space-between;
}

.page-list-content-wrapper-conteiner-row-col :nth-child(2) {
  margin: 0;
}

.page-list-content-wrapper-conteiner-row-col {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 3.8rem;
}

.page-list-content-wrapper-conteiner-row-col-imgconteiner {
  width: 100%;
  border-radius: 4px;
}

.page-list-content-wrapper-conteiner-row-col-imgconteiner-img {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-list-content-wrapper-conteiner-row-col-inside {
  margin: 0 0 0 0;
  padding: 0 1.25rem 1.25rem;
  letter-spacing: -0.02em;
}

.page-list-content-wrapper-conteiner-row-col-inside__h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  padding: 1rem 0rem;
}

.page-list-content-wrapper-conteiner-row-col-inside-description {
  margin: 0 0 0 0;
  font-size: 14px;
  font-style: normal;
  line-height: 140%;
  color: #4F4F4F;
}

.page-list-content-wrapper-conteiner-row-download {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.page-list-content-wrapper-conteiner-row-download-btn {
  text-decoration: none;
  padding: 1.475rem 3rem;
  background-color: #00D681;
  border-radius: 6px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #003D3D;
}

@media only screen and (max-width: 1679px) {
  .page-list-content-list-header-row {
    padding: 1.5rem 10rem;
  }

  .page-list-content-list-header-col {
    padding: 0rem 10rem;
  }

  .page-list-content-wrapper {
    padding: 3rem 10rem;
  }

  .page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter {
    display: none;
  }
}

@media only screen and (max-width: 1380px) {
  .page-list-content-list-header-row {
    padding: 1.5rem 5rem;
  }

  .page-list-content-list-header-col {
    padding: 0rem 5rem;
  }

  .page-list-content-wrapper {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 5rem;
  }

  .page-list-content-wrapper-sidebar-close {
    display: block;
  }

  .page-list-content-wrapper-conteiner {
    width: 100%;
    max-width: none;
  }

  .page-list-content-wrapper-conteiner-top-filtercontaiber {
    justify-self: end;
    display: flex;
    flex-wrap: wrap;
  }

  .page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter {
    display: flex;
    justify-content: end;
  }

  .page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter {
    display: flex;
    width: 52px;
  }

  .page-list-content-wrapper-conteiner-top-search {
    width: calc(100% - 120px);
  }

  .page-list-content-wrapper-conteiner-row-col {
    width: 100%;
  }

  .page-list-content-wrapper-sidebar {
    display: none;
    width: 100%;
    max-width: none;
    padding: 1rem;
    background: #FFF;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 9;
    left: 0;
  }
}

@media only screen and (max-width: 990px) {
  .page-list-content-list-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-bottom: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
  }

  .page-list-content-list-header-row {
    width: 100%;
    justify-content: center;
    padding: 3rem 2.5rem;
    height: 30%;
  }

  .page-list-content-list-header-row__h1 {
    font-size: 42px;
  }

  .page-list-content-list-header-col {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 70%;
    padding: 0rem 2.5rem;
  }

  .page-list-content-list-header-col-1 {
    width: 100%;
  }

  .page-list-content-list-header-col-1__h3 {
    font-size: 22px;
  }

  .page-list-content-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
  }

  .page-list-content-wrapper-sidebar {
    display: none;
    width: 100%;
    max-width: none;
    padding: 1rem;
    background: #FFF;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 9;
    left: 0;
  }

  .page-list-content-wrapper-conteiner-top {
    display: flex;
    flex-wrap: wrap;
  }

  .page-list-content-wrapper-conteiner-top-search {
    display: flex;
    justify-content: center;
    width: calc(100% - 120px);
  }

  .page-list-content-wrapper-conteiner-top-search-field {
    width: 100%;
  }

  .page-list-content-wrapper-conteiner-top-search-field-input {
    width: 100%;
  }

  .page-list-content-wrapper-conteiner-top-makefilter {
    font-size: 16;
    display: flex;
    justify-content: end;
    min-width: 0px;
    width: 52px;
  }

  .page-list-content-wrapper-conteiner-top-chosefilter {
    display: flex;
    justify-content: end;
    min-width: 0px;
    margin-left: 8px;
    width: 52px;
  }

  .page-list-content-wrapper-conteiner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 530px) {
  .page-list-content-list-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-bottom: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
  }

  .page-list-content-list-header-row {
    width: 100%;
    justify-content: center;
    padding: 3rem 2.5rem;
    height: 30%;
  }

  .page-list-content-list-header-row__h1 {
    font-size: 42px;
  }

  .page-list-content-list-header-col {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 70%;
    padding: 0rem 2.5rem;
  }

  .page-list-content-list-header-col-1 {
    width: 100%;
  }

  .page-list-content-list-header-col-1__h3 {
    font-size: 22px;
  }

  .page-list-content-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
  }

  .page-list-content-wrapper-sidebar {
    display: none;
    width: 100%;
    max-width: none;
    padding: 1rem;
    background: #FFF;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 9;
    left: 0;
  }

  .page-list-content-wrapper-conteiner-top {
    display: flex;
    flex-wrap: wrap;
  }

  .page-list-content-wrapper-conteiner-top-search {
    display: flex;
    justify-content: center;
    width: calc(100% - 120px);
  }

  .page-list-content-wrapper-conteiner-top-search-field {
    width: 100%;
  }

  .page-list-content-wrapper-conteiner-top-search-field-input {
    width: 100%;
  }

  .page-list-content-wrapper-conteiner-top-makefilter {
    font-size: 16;
    display: flex;
    justify-content: end;
    min-width: 0px;
    width: 52px;
  }

  .page-list-content-wrapper-conteiner-top-chosefilter {
    display: flex;
    justify-content: end;
    min-width: 0px;
    margin-left: 8px;
    width: 52px;
  }

  .page-list-content-wrapper-conteiner-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.page-main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(/images/contentHeaderBg.png?152a5e60796a0d2c54c064481a65a9e3) no-repeat;
  background-size: cover;
  height: 100%;
  min-height: calc(100vh - 80px);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page-main-header__title {
  font-style: normal;
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 5rem;
  letter-spacing: -0.02em;
  color: white;
  margin-bottom: 1.5rem;
}

.page-main-header-row {
  display: flex;
}

.page-main-header-col-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
}

.page-main-header-col-1__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 160%;
  color: white;
  margin-bottom: 6rem;
}

.page-main-header-col-1__actions {
  display: flex;
  justify-content: flex-start;
}

.page-main-header-col-1__actions .btn + .btn {
  margin-left: 32px;
}

.page-main-header-col-2 {
  display: flex;
  justify-content: center;
  flex-basis: 25%;
  align-items: center;
}

.page-main-header-col-2__watch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main-header-col-2__watch #play-video {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  padding: 2.8rem;
}

.page-main-header-col-2__watch #play-video::after {
  display: block;
  content: "";
  background: url(/images/play.svg?87e9d6438523fc317ac4c66397906f8e) no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
  margin-left: 14px;
}

.page-main-header-col-2__watch .play-video-btn-label {
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #F2F2F2;
  text-align: center;
  opacity: 0.9;
  margin-top: 40px;
}

.page-main-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: white;
}

.page-main-section--gray {
  background: #F2F2F2;
}

.page-main-section__title {
  color: #BDBDBD;
  font-weight: 500;
  font-size: 1.5rem;
}

.page-main-section__subtitle {
  width: 80%;
  color: #333333;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.page-main-about-content {
  display: flex;
  justify-content: space-between;
}

.page-main-about-content-block {
  margin-bottom: 2rem;
}

.page-main-about-content-block__wrapper {
  width: 44%;
}

.page-main-about-content-block__title {
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.page-main-about-content-block__title span {
  color: #BDBDBD;
}

.page-main-about-content-block__text {
  color: #4F4F4F;
  line-height: 1.5rem;
}

.page-main-projects__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.page-main-projects__all {
  display: block;
  text-align: right;
  color: #333333;
  text-decoration: none;
}

.page-main-projects-item {
  min-width: 300px;
  width: 32%;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 3px #ededed;
}

.page-main-projects-item__wrapper {
  padding: 1.6rem;
  background: white;
}

.page-main-projects-item__img {
  width: 100%;
  background-size: cover;
}

.page-main-projects-item__title {
  font-size: 1.3rem;
  color: #333333;
  margin-bottom: 1rem;
}

.page-main-projects-item__text {
  color: #4F4F4F;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.page-main-projects-item__link {
  color: #BDBDBD;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 0.9rem;
}

.page-main-stat {
  display: flex;
  justify-content: space-between;
}

.page-main-stat-item {
  text-align: center;
}

.page-main-stat-item__value {
  letter-spacing: -2px;
  color: #333333;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  padding: 0 0.7rem;
  white-space: nowrap;
}

.page-main-stat-item__description {
  color: #4F4F4F;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.page-main-donate-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.page-main-donate-list__col {
  max-width: 50%;
  width: 100%;
}

.page-main-donate-list__col + .page-main-donate-list__col {
  margin-left: 1rem;
}

.page-main-donate-item {
  background: #F2F2F2;
  padding: 2rem;
  margin: 1rem 0;
}

.page-main-donate-item__text {
  margin-bottom: 2.5rem;
  line-height: 1.5rem;
}

.page-main-donate-item__cost {
  color: #00D681;
  font-weight: 700;
}

.page-main-donate-item__date {
  color: #BDBDBD;
  float: right;
}

.page-main-donate__action {
  display: inline;
}

.page-main-contributors-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.page-main-contributors-list-col {
  max-width: 50%;
  width: 100%;
}

.page-main-contributors-list-col + .page-main-contributors-list-col {
  margin-left: 1rem;
}

.page-main-contributors-item {
  padding: 1.8rem;
  background: white;
  margin-bottom: 1rem;
}

.page-main-contributors-item-stack__title {
  color: #BDBDBD;
  margin-bottom: 4px;
}

.page-main-contributors-item-stack__value {
  line-height: 1.5rem;
}

.page-main-contributors-item-info__wrapper {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.page-main-contributors-item-info__avatar {
  margin-right: 1.8rem;
  width: 4rem;
  height: 4rem;
}

.page-main-contributors-item-info__name {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 700;
}

.page-main-contributors-item-info__status {
  color: #828282;
  margin-top: 4px;
}

.page-main-contributors-item-info__status--owner {
  color: #00D681;
}

.page-main-contributors-item-info__status--owner::before {
  content: "";
  display: inline-block;
  margin-right: 0.3rem;
  background: url(/images/cont_owner.svg?1aec8b7aa07b5a400a576bf3a9412539) center center no-repeat;
  width: 1rem;
  height: 1rem;
  background-size: contain;
}

.page-main-contributors-item-info__status--sponsor {
  color: #FFB21C;
}

.page-main-contributors-item-info__status--sponsor::before {
  content: "";
  display: inline-block;
  margin-right: 0.3rem;
  background: url(/images/cont_sponsor.svg?9182305c67954fe1edcf68dc3db0a217) center center no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

@media only screen and (max-width: 1200px) {
  .page-main-header__title {
    font-size: 3.5rem;
    line-height: 5rem;
  }

  .page-main-section__subtitle {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .page-main-stat {
    flex-wrap: wrap;
    justify-content: center;
  }

  .page-main-stat-item {
    min-width: 20%;
    margin-bottom: 2rem;
  }

  .page-main-stat-item__value {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .page-main-donate-list {
    flex-direction: column;
  }

  .page-main-donate-list__col {
    max-width: 100%;
  }

  .page-main-donate-list__col + .page-main-donate-list__col {
    margin-left: 0rem;
  }

  .page-main-donate-item__text {
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
  }

  .page-main-donate-item__cost {
    color: #00D681;
    font-weight: 700;
  }

  .page-main-donate-item__date {
    color: #BDBDBD;
  }

  .page-main-donate__action {
    display: inline;
  }

  .page-main-contributors-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .page-main-contributors-list-col {
    max-width: 100%;
  }

  .page-main-contributors-list-col + .page-main-contributors-list-col {
    margin-left: 0rem;
  }

  .page-main-contributors-item-info__avatar {
    width: 3rem;
    height: 3rem;
  }

  .page-main-contributors-item-info__name {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 990px) {
  .page-main-header {
    min-height: calc(100vh - 54px);
  }

  .page-main-header__title {
    font-size: 2.8rem;
    line-height: 4rem;
  }

  .page-main-header-row {
    flex-direction: column;
  }

  .page-main-header-col-1__subtitle {
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
  }

  .page-main-header-col-1__actions {
    justify-content: center;
    margin-bottom: 5rem;
  }

  .page-main-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .page-main-section__subtitle {
    width: 100%;
    font-size: 1.8rem;
  }

  .page-main-about-content {
    flex-direction: column;
    align-items: center;
  }

  .page-main-about-content-block__wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .page-main-header__title {
    font-size: 2rem;
    line-height: 150%;
  }

  .page-main-header-col-1__subtitle {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }

  .page-main-header-col-1__actions {
    margin-bottom: 3rem;
  }

  .page-main-header-col-2__watch #play-video {
    width: 5rem;
    height: 5rem;
    padding: 1.4rem;
  }

  .page-main-header-col-2__watch #play-video::after {
    margin-left: 7px;
  }

  .page-main-section__subtitle {
    font-size: 1.5rem;
  }

  .page-main-about-content-block__title {
    font-size: 1rem;
  }

  .page-main-about-content-block__text {
    font-size: 0.9rem;
  }

  .page-main-stat-item {
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .page-main-header__title {
    font-size: 1.5rem;
    line-height: 150%;
  }

  .page-main-header-col-1__subtitle {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  .page-main-header-col-1__actions {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .page-main-header-col-1__actions .btn {
    width: 70%;
    margin: 0.8rem auto !important;
  }
}

.page-about {
  margin-top: 3rem;
  display: flex;
}

.page-about-sidebar {
  width: 420px;
  position: fixed;
}

.page-about-sidebar ol,
.page-about-sidebar ul {
  list-style: none;
  counter-reset: li;
  margin-left: 1.2rem;
}

.page-about-sidebar ol li,
.page-about-sidebar ul li {
  margin: 1.2rem 0;
  color: #333333;
}

.page-about-sidebar ol li a,
.page-about-sidebar ul li a {
  color: #828282;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}

.page-about-sidebar ol li a.active,
.page-about-sidebar ul li a.active {
  color: #333333;
  font-weight: 500;
}

.page-about-sidebar ol li:before,
.page-about-sidebar ul li:before {
  counter-increment: li;
  content: counters(li, ".") " ";
}

.page-about-content {
  margin-left: 420px;
}

.page-about-content-block {
  margin-bottom: 5rem;
}

.page-about-content-block__title {
  padding: 0 1rem 0 0;
  width: 75%;
  color: #333333;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 2.2rem;
}

.page-about-content-block__content {
  color: #4F4F4F;
  line-height: 2rem;
}

.page-about-content-block__content .accent--green {
  color: #00D681;
}

.page-about-content-block__content p + p {
  margin: 1rem 0;
}

.page-about-content-block--grid4 {
  display: flex;
  flex-wrap: wrap;
}

.page-about-content-block--item {
  width: 50%;
  margin-bottom: 2.3rem;
}

.page-about-content-block--item .page-about-content-block__title {
  width: 100%;
  margin-bottom: 1rem;
}

.page-about-content-block--item .page-about-content-block__content a {
  display: block;
  color: #2F80ED;
  text-decoration: none;
  margin-bottom: 1rem;
}

.page-about-content-block--item:nth-last-child(1),
.page-about-content-block--item:nth-last-child(2) {
  margin-bottom: 0;
}

@media only screen and (max-width: 1500px) {
  .page-about {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 1200px) {
  .page-about {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 990px) {
  .page-about {
    margin-top: 6rem;
    flex-direction: column;
    padding: 0 3rem;
  }

  .page-about-sidebar {
    position: static;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1.2rem;
  }

  .page-about-sidebar ol li {
    margin: 0.9rem 0;
  }

  .page-about-content {
    width: 100%;
    margin-left: 0;
  }

  .page-about-content-block {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .page-about {
    padding: 0 1rem;
    margin-top: 4.5rem;
    flex-direction: column;
  }

  .page-about-content-block {
    margin-bottom: 1.2rem;
  }

  .page-about-content-block__title {
    width: 100%;
    font-size: 1.1rem;
  }

  .page-about-content-block--grid4 {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .page-about-content-block--grid4 .page-about-content-block {
    width: 100%;
    text-align: center;
  }

  .page-about-content-block--grid4 .page-about-content-block__content a {
    margin-bottom: 0.5rem;
  }
}

.page-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  height: 100%;
  padding: 3rem 0;
}

.page-auth__content {
  max-width: 30rem;
  width: 100%;
  padding: 0 1rem;
}

.page-auth-selector {
  margin-bottom: 2rem;
  display: flex;
}

.page-auth-selector__item {
  display: block;
  width: 50%;
  padding: 0.6rem;
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
  color: #BDBDBD;
  overflow-wrap: break-word;
  border-bottom: 3px solid #F2F2F2;
}

.page-auth-selector__item.active {
  color: #003D3D;
  border-bottom: 3px solid #00D681;
}

.page-auth__auth-form .input-field {
  margin-top: 1rem;
}

.page-auth__error {
  text-align: center;
  margin-top: 1rem;
  color: #c70000;
}

.page-auth ~ .footer {
  display: none;
}

.page-auth input[type=submit] {
  margin-top: 3rem;
}

@media only screen and (max-width: 652px) {
  .page-auth-selector__item {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 652px) {
  .page-auth-selector__item {
    font-size: 1rem;
  }
}

.page-login input[type=submit] {
  margin-top: 0;
}

.page-reg__input-title {
  display: block;
  color: #828282;
  padding: 1rem 0;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.page-reg input[type=submit] {
  margin-top: 3rem;
}

.page-get-invite {
  margin: 5rem 0;
}

.page-get-invite__text {
  margin-top: 2rem;
}

